<% provide(:title, "World of Stars - " + @planet.name) %>
<%= turbo_stream_from "planet_#{@planet.id}" %>

<%= render 'planets/resources_bar', planet: @planet %>

<div class="scifi-text flex px-5">
  <div class="flex flex-col gap-1">
    <div>
    <%= @planet.name %>
    <% if @planet.is_home %>
      <span class="inline-flex items-center rounded-md bg-blue-950 px-2 py-1 text-xs font-medium text-blue-500 inset-ring inset-ring-blue-700/10">Origine</span>
    <% end %>
    </div>
    <span>[ <%= @planet.coord_x %> : <%= @planet.coord_y %> ]
  </div>
</div>

<%= render 'planets/canvas_container', planet: @planet %>

<%= render "construction_queues/queue_bar", planet: @planet %>

<div id="buildings-list-container">
  <%= render 'planets/buildings_list', planet: @planet %>
</div>
