<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= content_for(:title) || "World of Stars" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="World of Stars">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= vite_stylesheet_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if notice.present? %>
      <p id="notice" data-turbo-temporary><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p id="alert" data-turbo-temporary><%= alert %></p>
    <% end %>

    <%= render "layouts/header" %>

    <%= yield %>
  </body>
</html>
